body {
  background-color: #423F3E;
}

container-fluid {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: black;
}

.Gallery {
  width: 30%;
  float: left;
  margin: 1.66%;
  height: 400px !important;
  object-fit: cover;
}

.choices {
  width: 45%;
  float: left;
  margin: 0 25% 0 0;
}



#userChoice {
  height: 300px !important;
  object-fit: cover;
}

#computerChoice {
  height: 300px !important;
  object-fit: cover;
}

.sec1 {
  width: 18%;
  float: left;
  margin: 1%;
  object-fit: cover;

}

.header {
  margin-left: 1.66%;
  color: white;
}

.white {
  color: white;
}